.career_part{

    
.career_bg{
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: bottom;
    position: relative;
    z-index: 1; // Ensure the content is above the overlay
     
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); // Adjust the opacity as needed
        z-index: 0; // Ensure the overlay is behind the content
       
    }
    .container{
        position: relative;
        z-index: index 2;
        display: flex;
        align-items: center;
        justify-content: center;

        h2{
      
            @include font-work($font-family , 30px , 500 , white);
        }
    }
}
}
.career_detail{
    padding: 100px 0;
    .container{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        p{
            @include font-work($font-family , 20ppx , 400 , black);
            text-align: center

        }
        span{
            @include font-work($font-family , 20px , 400 , black);
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}