$font-family: "Syne", sans-serif;
 $background_colour: white;
 $main-colour: #D2042D;
 $light_bg : rgb(197, 221, 164);
 $font_family:  "Open Sans", sans-serif;


//  ============responsive breakpoint-============
$button_phone: 300px;
$mobile:576px;
$medium : 768px;
$desktop:992px;
$largedesktop : 1200px;